body{
  position: relative;
}
.thumbnail{
  /*border: none;*/
}

.jumbotron{
  height: 440px;
  background-image: url('../bg.jpg');
  background-size: 100%;
  background-position: 50% 50%;
  margin-bottom: 0;
  
  p{
    color: white;
  }
}



.nameMain{
  margin-top: 7%;
}
.lastName{
  color: #EEE;
}

.secondRow{
  background-color: #282828;
  height: 270px;
  margin: 0 auto;
  padding: 5px;
  padding-top: 35px;
  text-align: center;
  
}
.innerRow{
  padding-top: 20px;
  height: 200px;
  margin: 0 7%;
  background-color: #EEE;
  text-align: center;
  p{
    margin: 20px;
  }
}
.innerRow:hover{
    
    background-color: darken(#EEE, 10%);
    box-shadow: 0px 2px 2px black;
    
}
.workTitle{
  font-size: 3em;
}
.proj{
  a{
    margin: 6px;
  }
  img{
    opacity: .6;
  }
  img:hover{
    opacity: 1;
  }
}
.divider{
  width: 100%;
  height: 200px;
  background-color: #282828;
  margin: 0 auto;
}
.collegeDiv{
  padding-top: 35px;
}
.collegeImg{
  margin-top: 5px;
  width: 80%;
  margin-bottom: 33px;
}
.download{
  clear: both;
}
.carousel{
  width: 85%;
  margin: 50px auto;
}
.carouselImg{
  margin: 20px auto;
  max-height: 350px;
  opacity: .5;
}
.carouselImg:hover{
  opacity: 1;
}
.carousel-caption{
  color: black;
  h3{
    font-size: 2.5em;
  }
  a{
    font-size: 1.3em;
    margin: 10px;
    width: 15%;
  }
  p{
    font-size: 1.2em;
  }
}
#contact{
  height: 30em;
}
.hovereffect {
width:100%;
height:100%;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
}

.hovereffect .overlay {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:rgba(0,0,0,0.5);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.hovereffect img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}

.hovereffect h2 {
text-transform:uppercase;
color:#fff;
text-align:center;
position:relative;
font-size:19px;
background:rgba(0,0,0,0.6);
-webkit-transform:translatey(-100px);
-ms-transform:translatey(-100px);
transform:translatey(-100px);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
padding:10px;
}

.hovereffect h3 {
text-transform:uppercase;
font-style: italic;
color:#fff;
text-align:center;
position:relative;
font-size:17px;
background:rgba(0,0,0,0.6);
-webkit-transform:translatey(-100px);
-ms-transform:translatey(-100px);
transform:translatey(-100px);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
padding:10px;
}

.hovereffect h4 {

color:#fff;
text-align:center;
position:relative;
font-size:16px;
line-height: 22px;
background:rgba(0,0,0,0.6);
-webkit-transform:translatey(-100px);
-ms-transform:translatey(-100px);
transform:translatey(-100px);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
padding:10px;
}

.hovereffect a.info {
text-decoration:none;
display:inline-block;
text-transform:uppercase;
color:#fff;
border:1px solid #fff;
background-color:transparent;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
margin:50px 0 0;
padding:7px 14px;
}

.hovereffect a.info:hover {
box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}

.hovereffect:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info, .hovereffect:hover h4, .hovereffect:hover h3{
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

.hovereffect:hover a.info {
-webkit-transition-delay:.2s;
transition-delay:.2s;
}
